body{
    margin: 8px 100px;
}
.header{
    display: grid;
    /* grid-template-areas: "image nav nav nav nav"; */
    grid-template-columns: 1fr 4fr;
}
/* .header .col-left{
    grid-area: image;
}
.header .col-right{
    grid-area: nav;
} */
/* navbar definition */
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}
.navbar ul li{
    padding: 0 10px;
    border-right: 1px solid black;
}
.navbar ul li:first-child{
    padding-left: 0;
}
.navbar ul li:last-child{
    border-right: none;
    padding-right: 0px;;
}
.nav-grid{
    display: grid;
    grid-template-areas: "nav"
                         "navsearch"
                         "navbutton";
    /* identation fix */
}
.nav{
    grid-area: nav;
    justify-content: flex-end;
}
.navsearch{
    grid-area: navsearch;
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}
.navsearch button:first-child{
    margin-right: 20px;
}
.navsearch a{
    margin-top: 7px;
}
.navbutton{
    margin: 16px 0;
    grid-area: navbutton;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
.navbutton button{
    flex-grow: 1;
    margin-left: 15px;
}
.navbutton button:first-child{
    margin-left: 100px;
}

/* groups definition */
.vertical-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* button definition */
.button{
    background-color: #dcdcdc;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: 2px 2px;
}
.button:hover{
    transform: scale(1.05);
}
.button-white{
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1em;
    /* box-shadow: 2px 2px; */
}
.button-white:hover{
    box-shadow: 2px 2px;
}

/* text sizes */
.small-text{
    font-size: 12px;
    font-weight: bold;
}
.medium-text{
    font-size: 14px;
    font-weight: bold;
}
.large-text{
    font-size: 16px;
    color: white;
    background-color: black;
    padding: 1px;
    font-weight: bold;
}

.body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.body .left{
    display: flex;
    flex-direction: column;
}
.body .left button{
    margin-bottom: 10px;
    text-align: left;
}
.body .right{
    display: flex;
    flex-direction: column;
}
.body .center{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

/* center article definition */
article.greybox{
    padding: 0 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}
article.greybox p{
    margin: 0;
}
article.greybox header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 15px 0;
}
article.greybox header h1{
    margin: 0;
}
article.greybox a{
    color: black;
}
article.greybox .content{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
article.greybox .content div{
    display: flex;
    flex-direction: column;
}
article.greybox .content div a{
    margin: 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
/* greybox definition */
.border{
    border: 1px solid black;
    /* background-image: url('assets/svg/play.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}
.greybox{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    background-color: #e6e6e6;
    margin-bottom: 20px;
}
.greybox b{
    font-size: 18px;
    /* font-weight: bold; */
}
.greybox ul{
    list-style: url('../svg/arrow.svg');
    padding-left: 20px;
}
.greybox ul li a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.greybox-alpha{
    display: flex;
    flex-direction: column;
    background-color: #e6e6e69d;
    margin-bottom: 10px;
    padding: 10px;
}
.greybox-alpha h1{
    margin: 0;
    margin-bottom: 3px;
}
.greybox-alpha p{
    margin: 0;
}

/* genericos */
.spotlight{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 0;
}
.spotlight p{
    margin: 0;
}
.spotlight img{
    margin-right: 10px;
}

/* slide */
.slide{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.slide img{
    z-index: -1;
}
.slide .floating-box{
    position: absolute;
    max-width: 200px;
    /* bottom: 0; */
}
.slide .floating-box .links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.slide .floating-box .links a{
    margin-right: 7px;
    text-decoration: none;
    color: black;
    padding: 0 3px;
}
.slide .floating-box .links a.active{
    border: 1px solid black;
    border-radius: 100%;
}

/* footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    align-items: baseline;
}

.top{
    text-decoration: none;
    color: black;
}