header h2{
    background-color: grey;
    color: white;
    margin: 1px;
}
nav{
    margin-left: 1px;
    float: left;
}
ul{
    margin: 1;
    padding: 0;
    list-style: none;
    width: 240px;
    height: 100%;
    border-right: 1px;
}
ul li{
    position: relative;
}
ul li a{
    display: block;
    text-decoration: none;
    color: black;
    background: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 15px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: left;
    margin-top: 3px;
}
ul li a:hover{
    text-decoration:underline;
    font-weight: bold;
    background: #ccc;
}
    
section{
    margin-left: 250px;
    border-left: solid 1px;
    padding-left: 10px;
}
footer{
    background-color: grey;
    color: white;
    margin: 1px;
    padding: 2px;
    clear: both;
}